{% extends "bookings/layout.html" %}
{% load static %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-5">Schedule your visit.</h1>
    <p class="lead">This is scheduling application for your next beauty treatment. Book, browse available dates and
        possibly cancel your visit.</p>
    <hr class="my-4">

    <div class='d-flex flex-column justify-content-between align-items-center mt-5'>
        <a class="btn btn-primary btn-lg col-md-4 col-5 mb-3" href="{% url 'book' %}" role="button">Book
            Appointment</a>
        <a class="btn btn-primary btn-lg col-md-4 col-5" href="{% url 'cancel' %}" role="button">Cancel your
            booking</a>
    </div>


    {% endblock %}

    {% block script %}
    <script type=text/javascript>
        document.addEventListener('DOMContentLoaded', function () {
            alert(`
Welcome to beauty salon booking application!

This is mysecond bigger project done in December 2021 - beauty salon booking application. This was my final project after CS50 Web course from Harvard Univeristy.

Sepcification:
1. Build on Django framework
2. SQLite database
3. HTML+CSS+JavaScript on the frontend
4. Single page view in the whole booking and cancellation process
5. Mobile responsive

Lessons learned:
1. Construction of more comlicated single page views with pure JS is quickly starting to get messy - after this project I have jumped straight into learning frontend JS frameworks
2. Booking and scheduling systems are very challanging to construct - for the future its better to use external API solutions
3. Deployment of Django app to production

Source code: https://github.com/e63g/beauty-salon-booking
            `)
        })
    </script>
    {% endblock %}